<div class="container background-img">
  <div class="row">
    <div class="col-xs-6">
      <h2 class="ml-2">本日の打刻です！</h2>
      <h3 class="ml-2">現在の日時</h3>
      <p>２０２０年９月１４日</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="input-group">
        <span class="input-group-addon">時間</span>
        <input type="time" class="form-control" placeholder="太郎">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <button type="button" class="btn btn-primary btn-block">始業</button>
    </div>
    <div class="ccol-xs-12 col-sm-3">
      <button type="button" class="btn btn-primary btn-block">昼休憩</button>
    </div>
    <div class="col-xs-12 col-sm-3">
      <button type="button" class="btn btn-primary btn-block">休憩後再開</button>
    </div>
    <div class="col-xs-12 col-sm-3">
      <button type="button" class="btn btn-primary btn-block">終業</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <textarea name="memo" class="form-control" placeholder="メモ：面談により19時まで残業　など"></textarea>
      </div>
    </div>
    <div class="col-xs-3">
      <button type="button" class="btn btn-primary btn-block">メモ登録</button>
    </div>
  </div>
  <div class="row">
    <div class="dropdown col-xs-4 col-sm-3 col-lg-2">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
        ドロップダウン
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li role="presentation"><a href="#">リンクのリスト１</a></li>
        <li role="presentation"><a href="#">リンクのリスト２</a></li>
        <li role="presentation"><a href="#">リンクのリスト３</a></li>
      </ul>
    </div>
    <div class="col-xs-3 col-sm-2 col-lg-1">
      <button type="button" class="btn btn-info btn-block">表示</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr class="success">
            <th>月日</th>
            <th>始業時刻</th>
            <th>休憩開始時刻</th>
            <th>業務再開時刻</th>
            <th>終業時刻</th>
            <th>メモ</th>
            <th>編集</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>月日</td>
            <td>始業時刻</td>
            <td>休憩開始時刻</td>
            <td>業務再開時刻</td>
            <td>終業時刻</td>
            <td>メモ</td>
            <td>編集</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
