<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="page-header">
        <h3>ようこそ！ <%= @email %>!</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <% if @resource.try(:unconfirmed_email?) %>
      <div class="col-xs-12 col-sm-6">
        <p>メール変更について<%= @resource.unconfirmed_email %>.</p>
      </div>
    <% else %>
      <div class="col-xs-12 col-sm-6">
        <p>メール変更されました！ <%= @resource.email %>.</p>
      </div>
    <% end %>
  </div>
</div>
