<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p>ようこそ <%= current_user.name %>さん</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p>パスワードが変更されました！</p>
    </div>
  </div>
</div>
